adf/pipeline/PlLeadsSqlToSnowflake.json
{
	"name": "PlLeadsSqlToSnowflake",
	"properties": {
		"activities": [
			{
				"name": "LookupWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:00:30",
					"retry": 2,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"firstRowOnly": true
				}
			},
			{
				"name": "CopyLeads",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": false
				},
				"outputs": [
					{
						"referenceName": "DsSnowflakeLeads",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyLeads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.sp_UpdateWatermark",
					"storedProcedureParameters": {
						"TableName": {
							"value": "Leads",
							"type": "String"
						},
						"OldWatermark": {
							"value": {
								"value": "@{activity('LookupWatermark').output.firstRow.WatermarkValue}",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				}
			}
		],
		"annotations": []
	}
}