adf/pipeline/PlLeadsSqlToSnowflake.json
{
	"name": "PlLeadsSqlToSnowflake",
	"properties": {
		"activities": [
			{
				"name": "LookupWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:00:30",
					"retry": 2,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT WatermarkValue FROM dbo.adt_watermark WHERE TableName = 'Leads'",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsSqlWatermarkLookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "CopyLeads",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"inputs": [
					{
						"referenceName": "DsSqlLeads",
						"type": "DatasetReference",
						"parameters": {
							"WatermarkValue": "@{activity('LookupWatermark').output.firstRow.WatermarkValue}"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DsSnowflakeLeads",
						"type": "DatasetReference"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "LsAzureBlobStaging",
							"type": "LinkedServiceReference"
						},
						"path": "adf-staging"
					}
				}
			},
			{
				"name": "UpdateWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyLeads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.sp_UpdateWatermark",
					"storedProcedureParameters": {
						"TableName": {
							"value": "Leads",
							"type": "String"
						},
						"OldWatermark": {
							"value": "@{activity('LookupWatermark').output.firstRow.WatermarkValue}",
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LsSqlServer",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}