adf/pipelines/Pl_SqlToSnowflake.json
{
    "name": "Pl_SqlToSnowflake",
    "properties": {
        "description": "Copy Leads from SQL Server to Snowflake. Supports incremental load via UpdatedDateUtc watermark.",
        "parameters": {
            "LogicAppAlertUrl": {
                "type": "string",
                "defaultValue": ""
            }
        },
        "activities": [
            {
                "name": "Lookup_LastWatermark",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.00:05:00",
                    "retry": 2
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlServerSource",
                        "sqlReaderQuery": "SELECT ISNULL(LastWatermark, '1900-01-01') AS LastWatermark FROM DataFactoryWatermark WHERE TableName = 'Leads'"
                    },
                    "dataset": {
                        "referenceName": "Ds_Leads_Sql",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": true
                }
            },
            {
                "name": "Copy_Leads_SqlToSnowflake",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Lookup_LastWatermark",
                        "dependencyConditions": ["Succeeded"]
                    }
                ],
                "policy": {
                    "timeout": "0.01:00:00",
                    "retry": 2
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "SqlServerSource",
                        "sqlReaderQuery": {
                            "value": "SELECT * FROM Leads WHERE UpdatedDateUtc > '@{activity('Lookup_LastWatermark').output.firstRow.LastWatermark}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "00:05:00"
                    },
                    "sink": {
                        "type": "SnowflakeV2Sink",
                        "preCopyScript": null,
                        "importSettings": {
                            "type": "SnowflakeImportCopyCommand",
                            "storageIntegration": null
                        }
                    },
                    "enableStaging": false,
                    "validateDataConsistency": false
                },
                "inputs": [
                    {
                        "referenceName": "Ds_Leads_Sql",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "Ds_Leads_Snowflake",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "StoredProc_UpdateWatermark",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Copy_Leads_SqlToSnowflake",
                        "dependencyConditions": ["Succeeded"]
                    }
                ],
                "policy": {
                    "timeout": "0.00:05:00",
                    "retry": 2
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[sp_UpdateLeadsWatermark]"
                },
                "linkedServiceName": {
                    "referenceName": "Ls_SqlServer",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "SendAlert_OnLookupFailure",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Lookup_LastWatermark",
                        "dependencyConditions": ["Failed"]
                    }
                ],
                "policy": { "timeout": "0.00:02:00", "retry": 0 },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@pipeline().Parameters.LogicAppAlertUrl",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "headers": { "Content-Type": "application/json" },
                    "body": {
                        "value": "{\"pipelineName\": \"@{pipeline().Pipeline}\", \"runId\": \"@{pipeline().RunId}\", \"status\": \"Failed\", \"failedActivity\": \"Lookup_LastWatermark\", \"errorMessage\": \"@{activity('Lookup_LastWatermark').Error.message}\"}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "SendAlert_OnCopyFailure",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Copy_Leads_SqlToSnowflake",
                        "dependencyConditions": ["Failed"]
                    }
                ],
                "policy": { "timeout": "0.00:02:00", "retry": 0 },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@pipeline().Parameters.LogicAppAlertUrl",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "headers": { "Content-Type": "application/json" },
                    "body": {
                        "value": "{\"pipelineName\": \"@{pipeline().Pipeline}\", \"runId\": \"@{pipeline().RunId}\", \"status\": \"Failed\", \"failedActivity\": \"Copy_Leads_SqlToSnowflake\", \"errorMessage\": \"@{activity('Copy_Leads_SqlToSnowflake').Error.message}\"}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "SendAlert_OnStoredProcFailure",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "StoredProc_UpdateWatermark",
                        "dependencyConditions": ["Failed"]
                    }
                ],
                "policy": { "timeout": "0.00:02:00", "retry": 0 },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@pipeline().Parameters.LogicAppAlertUrl",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "headers": { "Content-Type": "application/json" },
                    "body": {
                        "value": "{\"pipelineName\": \"@{pipeline().Pipeline}\", \"runId\": \"@{pipeline().RunId}\", \"status\": \"Failed\", \"failedActivity\": \"StoredProc_UpdateWatermark\", \"errorMessage\": \"@{activity('StoredProc_UpdateWatermark').Error.message}\"}",
                        "type": "Expression"
                    }
                }
            }
        ],
        "annotations": []
    }
}
